* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: rgba(0, 0, 0, 0.295);
}

.hero {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(12, 3, 51, 0.3), rgba(12, 3, 51, 0.3));
  position: relative;
  padding: 0 5%;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav {
  width: 100%;
  position: fixed;
  top: 0;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav .logo {
  width: 100px;
}

nav ul {
  display: flex;
  justify-content: space-between;
}

nav ul li {
  list-style: none;

  margin: 15px;
}

nav ul li a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 17px;
}

.content {
  text-align: center;
}

.content h1 {
  color: transparent;
  font-size: 160px;
  border: 5px white;
  font-weight: 200;
}

.content a {
  text-decoration: none;
  display: inline-block;
  color: rgb(255, 255, 255);
  font-size: 24px;
  border: 2px solid rgb(255, 255, 255);
  padding: 14px 70px;
  border-radius: 50px;
  margin-top: 20px;
}

.back-video {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
}

@media (min-aspect-ratio: 16/9) {
  .back-video {
    width: 100%;
    height: auto;
  }
}
@media (max-aspect-ratio: 16/9) {
  .back-video {
    width: auto;
    height: 100%;
  }
}
